<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction</title>
    <link rel="stylesheet" href="/styles/ben.css">
</head>
<body>
  <div class="title">
    Add your Beneficiary !
  </div>
  <div class="container">
    <br>
<div class="row">
  <label for="lname"><b>Beneficiary ID: </b></label>
  <input type="text" id="lname" name="ben_id" placeholder="Enter..">
</div>
<br></br>
<div class="row">
  <label for="Contact"><b>IFSC code: </b></label>
  <input type="text" id="Contact" name="ifcs" placeholder="Enter..">
</div>
<br></br>
<div class="row">
  <label for="Contact"><b>Branch: </b></label>
  <input type="text" id="Contact" name="branch" placeholder="Enter..">
</div>

<br></br>
  <div id="submit">
  <input type="submit" value="Submit"></div>
<br>
<br>
<br>
  </div>
</div>
</body>
</html>
