<!DOCTYPE html>
<html>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Questrial&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles/form_d.css">
<title>Debit Card</title>
 <body>
  <div class="title">
    Apply for your Debit Card now!
  </div>
    <div class="container">
      <br>
        <div class="row">
            <label for="fname"><b>First Name: </b></label>
            <input type="text" id="fname" name="firstname" placeholder="Enter..">
        </div>

<div class="row">
    <label for="lname"><b>Last Name: </b></label>
    <input type="text" id="lname" name="lastname" placeholder="Enter..">
</div>

<br></br>
<div class="row">
    <label for="Contact"><b>Contact: </b></label>
    <input type="text" id="Contact" name="Contact" placeholder="Enter..">
</div>

<div class="row">
    <label for="Age"><b>Customer id: </b></label>
    <input type="text" id="Age" name="Age" placeholder="Enter..">
</div>
<br></br>
<div class="row">
    <label for="Age"><b>Aadhar number: </b></label>
    <input type="text" id="Age" name="Age" placeholder="Enter..">
</div>
<br></br>
<div class="row">
    <label for="Age"><b>Maximum Limit: </b></label>
    <input type="text" id="Age" name="Age" placeholder="Enter..">
</div>
<br></br>
<div class="row">
<label for="birthday"><b>DOB: </b></label>
<input type="date" id="birthday" name="birthday">
</div>
<br>
    <div id="submit">
    <input type="submit" value="Submit"></div>
  <br>
  <br>
  <br>
    </div>
</div>
</body>
</html>
