body {
 background-image: url("/images/Credit_card.png");
 background-repeat: no-repeat;
 opacity:80%;
 background-size: 1540px 754px; 
}

.row{
    margin-top: 300px;
    margin-left: 800px;
    display: inline-block;
}

.btn-outline-secondary{
    width: 300px !important;
    margin-top: 15px;
    color:black;
    border-width: 3px;
    font-family: 'Montserrat', sans-serif;
     box-shadow:
    0 0 7px #F9E4D4,
    0 0 10px #F9E4D4,
    0 0 21px #470D21,
    0 0 102px #470D21,
    0 0 151px #470D21;
}

.btn-outline-secondary:hover{
   background-color: #FBF3E4;
   color: black;
}
