
* {box-sizing: border-box;}
.mySlides {display: none;
}
.container
{
    float:right;
}

img{
    float:right;
    margin-left: 500px;
}


body {
    background-color:#b4c2c2;
}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  position: absolute;
  margin: auto;
  float:right;

}


/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

