.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }

  body{
    font-family: 'Montserrat', sans-serif;
  }
   
  h1{
      color:rgb(82, 117, 123)
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: inline-block;
  }
  
  .sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
  }

  button.dropdown-btn:active{
      background-color: #111;
      color: black;
      -webkit-transition: all .25s ease;
      -moz-transition: all .25s ease;
       -ms-transition: all .25s ease;
        -o-transition: all .25s ease;
           transition: all .25s ease;
  }
  
  .main {
    margin-left: 200px; 
    font-size: 20px; 
    padding: 0px 10px;
  }
  
  .active {
    background-color: rgb(0, 0, 0);
  }
  
 .row .dropdown-container {
    display: none;
    background-color: #111;
    color: #f1f1f1;
    padding-left: 8px;
  }
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }