div.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }

  body.nav{
    font-family: 'Montserrat', sans-serif;
  }
   
  h1{
      color:rgb(82, 117, 123)
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: inline-block;
  }
  
  .sidenav a:hover, .dropdown-btn:hover {
    color: #000000;
    background-color: white;
  }
  .dropbtn {
    background-color: rgb(225, 225, 225);
    width: 300px;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #070404;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(92, 15, 15, 0.2);
    z-index: 1;
    top:0;
    left: 144px;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: rgb(104, 99, 99);}

.dropdown:hover .dropdown-content {
  
  display: block;
  margin-left: 50px;
  ;}

.dropdown:hover .dropbtn {
  background-color:rgb(147, 136, 136);
color: black;
}
  
  
 .dropdown-container {
    display: none;
  }
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .show {display:block;}