body {
    background-image: url(../images/transfer.png); 
    background-repeat: no-repeat;
    background-size: 1540px 754px; 
   }

.container
{
    text-align:center;
    background-color:#60725f;
    opacity:80%;
    width:500px;
    height:500px;
    margin: auto;
    margin-top: 30px;
    padding-top:3px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    box-shadow: 5px 10px;
   
}
input[type=number], select, textarea{
    padding: 7px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  width: 200px;
  display: grid;
  margin-left: 150px;
}

label{
    font-family: 'Questrial', sans-serif;
}

input[type=submit] {
  background-color: rgb(0, 0, 0) ;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-danger{
    background-color: #000000;
}
#submit{
    position: absolute; 
    bottom: 20px;
    margin-left: 45%;
    margin-top: 20%;
}

.title
{
    color:#000000;
    text-align: center;
     text-shadow: 2px 2px 4px #5c8198;
     font-family: 'Questrial', sans-serif;
     font-size: 30px;
     text-transform: uppercase;
     letter-spacing: 5px;
     word-spacing: 8px;
}


.row label {
    display: inline-block;
    text-align: right;
  }
  .error {
            color: black;
            font-size: medium;
            font-weight: bolder;
            font-family: "Times New Roman", Times, serif;
            animation: fadeOut 2s;
            animation-delay: 3s;
            -webkit-animation-fill-mode: forwards;
        }

        @keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}